@media (min-width: 1100px) {
    main .result .boy {
        display: block;
    }
    .logo {
        margin-left: 44px;
    }
    main {
        display: flex;
        justify-content: flex-end;
        gap: 80px;
    }
    #one {
        width: 100%;
        margin-left: 190px;
    }
    #two {
       width: 60%;
       position: relative;
       height: 85vh;
       bottom: 120px;
    }

    div.result {
        display: flex;
        flex-direction: column;
        height: 750px;
        justify-content: center;
        padding: 2rem;
        top: 3rem;
    }

}